[submodule "workspaces/isaac_sim_ws/src/ros2_robotiq_gripper"]
	path = workspaces/isaac_sim_ws/src/ros2_robotiq_gripper
	url = https://github.com/PickNikRobotics/ros2_robotiq_gripper.git
	brach = humble
[submodule "workspaces/isaac_sim_ws/src/serial"]
	path = workspaces/isaac_sim_ws/src/serial
	url = https://github.com/tylerjw/serial.git
	branch = ros2
[submodule "docker/isaac-ros/IsaacLab"]
	path = docker/isaac-ros/IsaacLab
	url = https://github.com/Mokaisen/IsaacLab.git
[submodule "docker/isaac-ros-v2/IsaacLab"]
	path = docker/isaac-ros-v2/IsaacLab
	url = git@github.com:Mokaisen/IsaacLab.git
[submodule "workspaces/brownbot_rl"]
	path = workspaces/brownbot_rl
	url = git@github.com:Mokaisen/brownbot_rl.git
[submodule "docker/isaac-ros-v3/IsaacLab"]
	path = docker/isaac-ros-v3/IsaacLab
	url = git@github.com:Mokaisen/IsaacLab.git
	branch = v2.2.0-branch
